.resourceMain {
  flex-direction: column;
}

.context {
  font-size: 1.5rem;
  text-align: center;
}

.resources {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
  font-weight: bold;
  color: #2bd872;
  padding: 0.625rem;
}

/* div {
  text-align: center;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  border: 6px solid #2bd872;
  border-radius: 10px;
  padding: 10px;
} */

.links {
  text-decoration: underline;
}

.links:visited {
  color: blueviolet;
}
.links:hover {
  color: greenyellow;
}

.national,
.east,
.Suffolk,
.Cambridge,
.midlands,
.Leicester,
.yorkshire,
.nw
/* .suffolk,
.norfolk,
.cambridge,
.derby,
.notts,
.leicester,
.humber,
.liverpool */
{
  text-align: center;
  max-width: 50rem;
  margin: 1.25rem;
  padding: 20px;
  border: 6px solid #2bd872;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

.suffolk,
.norfolk,
.cambridge,
.derby,
.notts,
.leicester,
.humber,
.liverpool
{
text-align: center;
  max-width: 50rem;
  margin: 1.25rem;
  padding: 20px;
  border: 3px solid #2bd872;
  border-radius: 0.625rem;
  padding: 0.625rem;
}